# Frontend configuration
VITE_SWAP_CONTRACT="EQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM9c"
# Address of NFT collection allowed to redeem
VITE_NFT_CONTRACT=""
# TON center JSON-RPC endpoint
VITE_TONCENTER_URL="https://toncenter.com/api/v2/jsonRPC"
# Base URL of TON API used to fetch NFTs
VITE_TON_API_URL="https://tonapi.io/v2"
VITE_SITE_DOMAIN="nft2ton.onrender.com"
