# Wallet mnemonic used for deploying contracts
SEED=""

# Address of NFT collection allowed to redeem
COLLECTION_ADDRESS=""

# Address of deployed Jet contract for withdrawal
JET_ADDRESS=""

# TON rewards for 5, 10 and 20 NFTs
REWARD5="1"
REWARD10="2"
REWARD20="3"

# Optional TON RPC endpoint settings
TON_ENDPOINT=""
TON_API_KEY=""
