@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Satoshi', 'Inter', sans-serif;
  background: linear-gradient(180deg, #080f1d 0%, #0a111e 100%);
  color: white;
}

button.primary-glow {
  background: #ecff19;
  color: black;
  font-weight: bold;
  border-radius: 9999px;
  box-shadow: 0 0 10px #ecff19, 0 0 40px #ecff19;
  transition: transform 0.2s;
}
button.primary-glow:hover {
  transform: scale(1.03);
}
