@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: #3a0766;
  background: linear-gradient(
      180deg,
      #1a0064,
      #3f0e65 6.77%,
      #1a022d 15.62%,
      #0a0028 39.58%,
      #080220 64.58%,
      #350759 91.67%
    )
    fixed;
  color: #fff;
}
